#companies, .location-section{
    margin-top: -55px;
}

.bg-companies{
    background-image: url(../images/bg-companies.png);
    background-size: cover;
    height: 48vh;
    background-position: center; 
    margin-top: -40px;
}

.img-location{
    border-radius: 25px;
}

.section-cities a{
    text-decoration: none;
    color: rgb(58, 58, 58);
}

.collapse-img-section{
    display: flex; 
    justify-content: center;

    @media (max-width:991px) {
        display: none;
      }
    
}

.ranking-number, .ranking-numer {
    color: $green-button;
    font-size: 3em;
    margin-top: -20px;
    margin-bottom: -8px ;
    font-weight: 600;
}

.collapse-img-section img{
    @media (max-width:992px) {
        display: none;
      }
}

.collapse-companies-blue, .collapse-companies-green{ 
    border-radius: 25px; 
    padding: 0 25px 0 25px;
}

.collapse-companies-green{
    background-color: $green-section; 
}

.collapse-companies-blue{
    background-color: $blue-section;
}


.card-cities{
    border-radius: 25px;
}

.card-body{
    padding: 35px;
}

.title-cities{
    font-weight: 600;
}

.card-company{
    border-radius: 20px;
}

.cities-list {
    display: inline;
    list-style: none;
    padding: 0px;

    li {
        display: inline;
        font-family: "Roboto Condensed", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        text-transform: uppercase;
        font-size: .8em;    
    }

    li a {
        color: blue;
    }
    li a:hover{
        color: rgb(140, 40, 180);
    }

    li::after {
        content: ", ";
    }

    li:last-child::after {
        content: "";
    }
}

.accordion-item{
    margin-bottom: -40px;
}

.accordion-body{
    margin-bottom: 30px;
}


// redes sociales por empresa

.redes ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }

  button[aria-expanded="true"]{
    display: none;
}