{{ $data := index .Site.Data }}

<!-- Companies -->

<section id="companies">
  <h2 class="text-center mb-4">Empresas</h2>

<!-- Tech consulting (mid) -->
<div class="container" id="accordionPanelsStayOpenExample">
  <div class="container accordion-item">
    <div class="row cursor-pointer" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
      <div class="col-lg-3 collapse-img-section">
        <img src="/images/accordion/tech-consulting-mid.png" class="mb-3" alt="Tech consulting (mid)">
      </div>
      <div class="col-lg-9 collapse-companies-green">
        <h4 class="mt-4">Tech consulting (mid)</h4>
            <p>Empresas de consultoría tecnológica, desarrollo de software a la medida y team augmentation con entre 10 y 100 desarrolladores.</p>      
      </div>
    </div>
    
    <section class="section-companies">
  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
    <div class="accordion-body mt-4">    
      <div class="row row-cols-1 row-cols-md-3 g-4">
  
        {{ if ne .Kind "taxonomy" }}
        {{ range sort (where (where .Site.RegularPages.ByWeight "Section" "companies" ) ".Params.Tipo-empresa" "tech-consulting-mid")  }}
        <div class="col">
          <div class="card h-100 card-company shadow-sm">
            <div class="card-body">
                <!--<p class="ranking-number">
                  {{ with.Params.weight }}
                  {{ . }}
                  {{ end }}
             
                  {{ with.Params.new }}
                  {{ . }}
                  {{ end }}</p>-->
              <a href="{{ .Permalink | relURL }}">
                <h3 class="card-title company-name">{{ .Title }}</h3>
              </a>
              
              <a href="{{ .Permalink | relURL }}">      
                  <img class="img-fluid img-location mt-2" src="{{ with .Params.images }}{{ index . 0 | relURL }}{{else}}{{ .Params.Image | relURL }}{{ end }}" loading="lazy"  alt="featured image {{.Title }}"/>
                </a>
      
                <ul class="cities-list">
                  {{ range (.GetTerms "cities") }}
                  <li class="city"><a href="{{ .RelPermalink }}">
                    {{ .Params.Title }}</a></li>
                {{ end }}
                
              </ul>
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
    </section>
  </div>
</div>
<!-- Tech consulting (mid) -->


<!-- Tech consulting (large) -->
<div class="container" id="accordionPanelsStayOpenExample">
  <div class="container accordion-item">
    <div class="row cursor-pointer" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsetwo" aria-expanded="true" aria-controls="panelsStayOpen-collapsetwo">
      <div class="col-lg-9 collapse-companies-blue">
        <h4 class="mt-4">Tech consulting (large)</h4>
            <p>Empresas de outsourcing tecnológico e integración de sistemas, con más de 100 desarrolladores.</p>      
      </div>
      <div class="col-lg-3 collapse-img-section">
        <img src="/images/accordion/tech-consulting-large.png" class="mb-3" alt="Large tech">
      </div>
    </div>
    
    <section class="section-companies">
  <div id="panelsStayOpen-collapsetwo" class="accordion-collapse collapse show">
    <div class="accordion-body mt-4">    
      <div class="row row-cols-1 row-cols-md-3 g-4">
  
        {{ range sort (where (where .Site.RegularPages.ByWeight "Section" "companies" ) ".Params.Tipo-empresa" "tech-consulting-large")  }}
        <div class="col">
          <div class="card h-100 card-company shadow-sm">
            <div class="card-body">
                <!--<p class="ranking-numer">{{ .Params.Weight}}</p>-->
              <a href="{{ .Permalink }}">
                <h3 class="card-title company-name">{{ .Title }}</h3>
              </a>
              
              <a href="{{ .Permalink | relURL }}">      
                  <img class="img-fluid img-location mt-2" src="{{ with .Params.images }}{{ index . 0 | relURL }}{{else}}{{ .Params.Image | relURL }}{{ end }}" loading="lazy"  alt="featured image {{.Title }}"/>
                </a>
      
                <ul class="cities-list">
                  {{ range (.GetTerms "cities") }}
                  <li class="city"><a href="{{ .RelPermalink }}">
                    {{ .Params.Title }}</a></li>
                {{ end }}
                
              </ul>
            </div>
          </div>
        </div>

        {{ end }}
      </div>
    </div>
    </section>
  </div>
</div>
<!-- Tech consulting (large) -->


<!-- Corp -->
<div class="container" id="accordionPanelsStayOpenExample">
  <div class="container accordion-item">
    <div class="row cursor-pointer" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsethree" aria-expanded="true" aria-controls="panelsStayOpen-collapsethree">
      <div class="col-lg-3 collapse-img-section">
        <img src="/images/accordion/corp.png" class="mb-3" alt="Corp">
      </div>
      <div class="col-lg-9 collapse-companies-green">
        <h4 class="mt-4">Corp</h4>
            <p>Empresas pertenecientes a sectores diversos que cuentan con una institución u organización de tecnología interna para soportar su negocio.</p>      
      </div>
    </div>
    
    <section class="section-companies">
  <div id="panelsStayOpen-collapsethree" class="accordion-collapse collapse show">
    <div class="accordion-body mt-4">    
      <div class="row row-cols-1 row-cols-md-3 g-4">
  
        {{ range sort (where (where .Site.RegularPages.ByWeight "Section" "companies" ) ".Params.Tipo-empresa" "corp")  }}
        <div class="col">
          <div class="card h-100 card-company shadow-sm">
            <div class="card-body">
                <!--<p class="ranking-numer">{{ .Params.Weight}}</p>-->
              <a href="{{ .Permalink }}">
                <h3 class="card-title company-name">{{ .Title }}</h3>
              </a>
              
              <a href="{{ .Permalink | relURL }}">      
                  <img class="img-fluid img-location mt-2" src="{{ with .Params.images }}{{ index . 0 | relURL }}{{else}}{{ .Params.Image | relURL }}{{ end }}" loading="lazy"  alt="featured image {{.Title }}"/>
                </a>
      
                <ul class="cities-list">
                  {{ range (.GetTerms "cities") }}
                  <li class="city"><a href="{{ .RelPermalink }}">
                    {{ .Params.Title }}</a></li>
                {{ end }}
                
              </ul>
            </div>
          </div>
        </div>

        {{ end }}
      </div>
    </div>
    </section>
  </div>
</div>
<!-- Corp -->


<!-- Startups & ISVs -->
<div class="container" id="accordionPanelsStayOpenExample">
  <div class="container accordion-item">
    <div class="row cursor-pointer" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
      <div class="col-lg-9 collapse-companies-blue">
        <h4 class="mt-4">Startups & ISVs</h4>
            <p>Empresas que construyen sus propios productos digitales, ya sea para vender o como parte de su core de negocio.</p>      
      </div>
      <div class="col-lg-3 collapse-img-section">
        <img src="/images/accordion/startups-isvs.png" class="mb-3" alt="startups">
      </div>
    </div>
    
    <section class="section-companies">
  <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show">
    <div class="accordion-body mt-4">    
      <div class="row row-cols-1 row-cols-md-3 g-4">
  
        {{ range sort (where (where .Site.RegularPages.ByWeight "Section" "companies" ) ".Params.Tipo-empresa" "startups-&-isvs")  }}
        <div class="col">
          <div class="card h-100 card-company shadow-sm">
            <div class="card-body">
                <!--<p class="ranking-numer">{{ .Params.Weight}}</p>-->
              <a href="{{ .Permalink }}">
                <h3 class="card-title company-name">{{ .Title }}</h3>
              </a>
              
              <a href="{{ .Permalink | relURL }}">      
                  <img class="img-fluid img-location mt-2" src="{{ with .Params.images }}{{ index . 0 | relURL }}{{else}}{{ .Params.Image | relURL }}{{ end }}" loading="lazy"  alt="featured image {{.Title }}"/>
                </a>
      
                <ul class="cities-list">
                  {{ range (.GetTerms "cities") }}
                  <li class="city"><a href="{{ .RelPermalink }}">
                    {{ .Params.Title }}</a></li>
                {{ end }}
                
              </ul>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    </section>
  </div>
</div>
<!-- Startups & ISVs -->


<!-- Boutiques & digital agencies -->
<div class="container" id="accordionPanelsStayOpenExample">
  <div class="container accordion-item">
    <div class="row cursor-pointer" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="true" aria-controls="panelsStayOpen-collapseFive">
      <div class="col-lg-3 collapse-img-section">
        <img src="/images/accordion/boutiques-da.png" class="mb-3" alt="Tech consulting (mid)">
      </div>
      <div class="col-lg-9 collapse-companies-green">
        <h4 class="mt-4">Boutiques & digital agencies</h4>
            <p>Empresas de consultoría tecnológica y agencias digitales con 10 o menos desarrolladores.</p>      
      </div>
    </div>
    
    <section class="section-companies">
  <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show">
    <div class="accordion-body mt-4">    
      <div class="row row-cols-1 row-cols-md-3 g-4">
  
        {{ range sort (where (where .Site.RegularPages.ByWeight "Section" "companies" ) ".Params.Tipo-empresa" "boutiques-&-digital-agencies")  }}
        <div class="col">
          <div class="card h-100 card-company shadow-sm">
            <div class="card-body">
                <!--<p class="ranking-numer">{{ .Params.Weight}}</p>-->
              <a href="{{ .Permalink | relURL }}">
                <h3 class="card-title company-name">{{ .Title }}</h3>
              </a>
              
              <a href="{{ .Permalink | relURL }}">      
                  <img class="img-fluid img-location mt-2" src="{{ with .Params.images }}{{ index . 0 | relURL }}{{else}}{{ .Params.Image | relURL }}{{ end }}" loading="lazy"  alt="featured image {{.Title }}"/>
                </a>
      
                <ul class="cities-list">
                  {{ range (.GetTerms "cities") }}
                  <li class="city"><a href="{{ .RelPermalink }}">
                    {{ .Params.Title }}</a></li>
                {{ end }}
                
              </ul>
            </div>
          </div>
        </div>

        {{ end }}
      </div>
    </div>
    </section>
  </div>
</div>
<!-- Boutiques & digital agencies -->
</section>

<!-- Companies -->