
<section class="bg-hero mb-4">
    <div class="container mt-4">
      <div class="hero-container">
        <div class="hero-info">
          <h1 class="display-4 mb-3">Best Place to Code</h1>
          <h4 class=" mb-3">Empresas grandiosas para personas grandiosas</h4>
          <p class="mb-4">{{ .Site.Params.Description }}</p>  
        </div>
  
        <div class="mb-4">
          <a href="#companies">
            <button class="btn text-white btn-lg hero-button">VER EMPRESAS</button>
          </a>
        </div>
      </div>
    </div>  
  </section>